Practica1/exercici1/cifp.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

   <!-- Enumeracions -->

   <xs:simpleType name="tipusCurs">
      <xs:restriction base="xs:string">
         <xs:enumeration value="DAM"/>
         <xs:enumeration value="DAW"/>
         <xs:enumeration value="ASIX"/>
         <xs:enumeration value="SMX"/>
         <xs:enumeration value="SEIA"/>
         <xs:enumeration value="ER"/>
         <xs:enumeration value="AUT"/>
      </xs:restriction>
   </xs:simpleType>

   <xs:simpleType name="tipusDepartament">
      <xs:restriction base="xs:string">
         <xs:enumeration value="Informatica"/>
         <xs:enumeration value="Electricitat"/>
         <xs:enumeration value="Automocio"/>
      </xs:restriction>
   </xs:simpleType>

   <!-- Assignatura -->

   <xs:complexType name="assignaturaType">
      <xs:sequence>

         <xs:element name="nom_assignatura">
            <xs:complexType>
               <xs:simpleContent>
                  <xs:extension base="xs:string">
                     <xs:attribute name="cicle"
                                   type="tipusCurs"
                                   use="required"/>
                  </xs:extension>
               </xs:simpleContent>
            </xs:complexType>
         </xs:element>

         <xs:element name="data_inici"
                     type="xs:string"
                     minOccurs="0"/>

         <xs:element name="data_final"
                     type="xs:string"
                     minOccurs="0"/>

      </xs:sequence>

      <xs:attribute name="id_assignatura"
                    type="xs:integer"
                    use="required"/>
   </xs:complexType>

   <!-- Persona base -->

   <xs:complexType name="personaBase">
      <xs:sequence>

         <xs:element name="nom" type="xs:string"/>
         <xs:element name="llinatges" type="xs:string"/>

         <xs:element name="data_naixement"
                     type="xs:string"
                     minOccurs="0"/>

         <xs:element name="correu"
                     type="xs:string"
                     minOccurs="0"/>

         <xs:element name="telefon"
                     type="xs:string"
                     minOccurs="0"/>

         <xs:element name="adreca"
                     type="xs:string"
                     minOccurs="0"/>

      </xs:sequence>

      <xs:attribute name="id"
                    type="xs:integer"
                    use="required"/>
   </xs:complexType>

   <!-- Alumne -->

   <xs:complexType name="alumneType">
      <xs:complexContent>
         <xs:extension base="personaBase">
            <xs:sequence>

               <xs:element name="data_matricula"
                           type="xs:string"/>

               <xs:element name="curs"
                           type="tipusCurs"/>

            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>

   <!-- Professor -->

   <xs:complexType name="professorType">
      <xs:complexContent>
         <xs:extension base="personaBase">
            <xs:sequence>

               <xs:element name="data_incorporacio"
                           type="xs:string"/>

               <xs:element name="departament"
                           type="tipusDepartament"/>

               <xs:element name="assignatura"
                           type="assignaturaType"
                           minOccurs="0"
                           maxOccurs="unbounded"/>

            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>

   <!-- Arrel -->

   <xs:element name="cifp">
      <xs:complexType>
         <xs:sequence>
            <xs:choice maxOccurs="unbounded">
               <xs:element name="alumne"
                           type="alumneType"/>
               <xs:element name="professor"
                           type="professorType"/>
            </xs:choice>
         </xs:sequence>
      </xs:complexType>
   </xs:element>

</xs:schema>