Practica1/exercici1/cifp.dtd

<!ELEMENT cifp (alumne | professor)*>

<!ELEMENT alumne (
   nom,
   llinatges,
   data_naixement?,
   correu?,
   telefon?,
   adreca?,
   data_matricula,
   curs
)>

<!ELEMENT professor (
   nom,
   llinatges,
   data_naixement?,
   correu?,
   telefon?,
   adreca?,
   data_incorporacio,
   departament,
   assignatura*
)>

<!ELEMENT assignatura (
   nom_assignatura,
   data_inici?,
   data_final?
)>

<!ELEMENT nom (#PCDATA)>
<!ELEMENT llinatges (#PCDATA)>
<!ELEMENT data_naixement (#PCDATA)>
<!ELEMENT correu (#PCDATA)>
<!ELEMENT telefon (#PCDATA)>
<!ELEMENT adreca (#PCDATA)>
<!ELEMENT data_matricula (#PCDATA)>
<!ELEMENT curs (#PCDATA)>
<!ELEMENT data_incorporacio (#PCDATA)>
<!ELEMENT departament (#PCDATA)>
<!ELEMENT nom_assignatura (#PCDATA)>
<!ELEMENT data_inici (#PCDATA)>
<!ELEMENT data_final (#PCDATA)>

<!ATTLIST alumne id CDATA #REQUIRED>
<!ATTLIST professor id CDATA #REQUIRED>

<!ATTLIST assignatura id_assignatura CDATA #REQUIRED>

<!ATTLIST nom_assignatura cicle CDATA #REQUIRED>